<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpPlatformHandler" />
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="node.exe"
                      arguments=".\node_modules\next\dist\bin\next start -p %HTTP_PLATFORM_PORT%"
                      stdoutLogEnabled="true"
                      stdoutLogFile=".\logs\stdout.log"
                      startupTimeLimit="60"
                      processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="NODE_ENV" value="production" />
                <environmentVariable name="GEMINI_API_KEY" value="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" />
                <environmentVariable name="JWT_SECRET" value="kljkljjklnljkfkjfkdke" />
                <environmentVariable name="DATABASE_URL" value="libsql://next-play-live-db-nsm-admin.aws-ap-northeast-1.turso.io" />
                <environmentVariable name="UPSTASH_REDIS_REST_URL" value="https://epic-dassie-54930.upstash.io" />
                <environmentVariable name="UPSTASH_REDIS_REST_TOKEN" value="AdaSAAIncDExMDhkMmJjYzRkNjY0NmI0YjEyOTNiM2IxODQyODg3NnAxNTQ5MzA" />
                <environmentVariable name="BLOB_READ_WRITE_TOKEN" value="vercel_blob_rw_Edi1npPfH9fhJhvh_bSdrpamFM85BaeD0U3uU2HCLVn8Xs" />
                <environmentVariable name="DATABASE_AUTH_TOKEN" value="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzIwMDA0MTQsImlkIjoiMDE5YzkzNzQtMTkwMS03NTRjLWIwNDMtYjFjZDE5ZWM0Y2MxIiwicmlkIjoiYWI1YWZhYWYtYjY3Yy00Mjc3LWJkMDYtZmIxY2Q1NzFiM2U2In0.qBt26HEWuj_4BoD1QQ84uMMo1Xydk5bkFCh1HYjZyjRDYmv-b99DJqAFKsBvuHS_zNiP5Zwf9i1Wsi3idgHgAw" />
            </environmentVariables>
        </httpPlatform>
        <rewrite>
            <rules>
                <clear />
                <rule name="NextPlayLiveRewrite" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
